*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 25.744px;
}
body::-webkit-scrollbar-thumb {
  background-color: #cdced7;
  border-radius: 4px;
  border: 1px solid #cdced7;
}

.main-content-box {
  margin-top: 75px;
  padding: 0px 120px;
  position: relative;
}
.main-content-box .chat {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50vh;
}
@media (max-width: 1350px) {
  .main-content-box {
    padding: 0px 60px;
  }
}
@media (max-width: 1040px) {
  .main-content-box {
    padding: 0px 30px;
  }
}
@media (max-width: 800px) {
  .main-content-box {
    padding: 16px;
    padding-bottom: 48px;
  }
}

.header-logo-title {
  display: flex;
  flex-direction: column;
}
.header-logo-title p {
  font-family: "Montserrat";
  font-size: 35.041px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.957px;
  text-transform: uppercase;
  background: linear-gradient(93deg, #000 39.62%, #0b449d 90.15%, #0b449d 90.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-logo-title svg {
  align-self: flex-end;
  margin-top: -5px;
  margin-right: 5px;
}

.main-nav {
  width: 100%;
  padding-top: 24px;
}
@media (max-width: 1040px) {
  .main-nav {
    padding-top: 0px;
  }
}
.main-nav .container a,
.main-nav .container span {
  text-decoration: none;
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 500px) {
  .main-nav .container a,
  .main-nav .container span {
    font-size: 12px;
  }
}
.main-nav .container span {
  color: var(--Accesible-text-Additional-62636C, #62636c);
}

.title-wrap {
  margin-top: 56px;
  margin-bottom: 40px;
}
@media (max-width: 1040px) {
  .title-wrap {
    margin-top: 24px;
  }
}
@media (max-width: 800px) {
  .title-wrap {
    margin: 24px 0px;
  }
}
.title-wrap .container .title {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1100px) {
  .title-wrap .container .title {
    font-size: 36px;
  }
}
@media (max-width: 850px) {
  .title-wrap .container .title {
    font-size: 32px;
  }
}

h3 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 850px) {
  h3 {
    font-size: 20px;
  }
}

h6 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  text-align: center;
  font-family: "Google Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label,
h5,
.hint {
  color: var(--Accesible-text-Additional-62636C, #62636c);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hint.active {
  color: var(--Action-Brand-Dark-Blue-0B449D, #0b449d);
  font-size: 12px;
}

.selected {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new-post {
  color: #242422;
}

button,
.accessibly {
  cursor: pointer;
  border: none;
  border-radius: 26.5px;
  background: linear-gradient(0deg, #1a64db 0%, #1a64db 100%), linear-gradient(0deg, #0b449d 0%, #0b449d 100%), linear-gradient(93deg, #000 39.62%, #0b449d 90.15%, #0b449d 90.15%);
  box-shadow: 0px 6px 8px 0px rgba(255, 255, 255, 0.25) inset;
  height: 54px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 20px 24px;
}
@media (max-width: 1100px) {
  button,
  .accessibly {
    padding: 20px 34px;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 14px;
  }
}

.accessibly {
  background: none;
  color: var(--Action-Brand-Dark-Blue-0B449D, #0b449d);
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.tips {
  max-width: 409px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  display: none;
  padding: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .tips {
    width: 309px;
  }
}
@media (max-width: 1100px) {
  .tips {
    width: 209px;
    padding: 14px;
  }
}
@media (max-width: 850px) {
  .tips {
    max-width: 100%;
    padding: 24px;
    box-shadow: 0px -6px 8px 0px rgba(22, 22, 22, 0.25) inset;
  }
}
.tips.czech-republic-ukraine.active, .tips.ukraine-czech-republic.active {
  display: inline-flex;
}
@media (max-width: 850px) {
  .tips.czech-republic-ukraine.active, .tips.ukraine-czech-republic.active {
    display: none;
  }
}
.tips .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media (max-width: 1100px) {
  .tips .content {
    gap: 16px;
  }
}
.tips .content .content-text ul {
  list-style: disc;
  margin-left: 20px;
}
.tips .content .content-text ul li {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 5px;
}
.tips .content .content-text p,
.tips .content .content-text h4 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #cdced7;
  min-height: 48px;
  padding: 12px 16px;
  gap: 8px;
  overflow: hidden;
}
.search input {
  outline: 0;
  border: none;
  width: 100%;
  caret-color: #1a64db;
}

.check-box {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #62636c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.check-box.active {
  border: 2px solid #0b449d;
}

.check-box.active::after {
  content: "";
  position: absolute;
  background-color: #0b449d;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}