*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 25.744px;
}
body::-webkit-scrollbar-thumb {
  background-color: #cdced7;
  border-radius: 4px;
  border: 1px solid #cdced7;
}

.main-content-box {
  margin-top: 75px;
  padding: 0px 120px;
  padding-top: 24px;
  padding-bottom: 80px;
}
@media (max-width: 1350px) {
  .main-content-box {
    padding: 0px 60px;
    padding-top: 24px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1040px) {
  .main-content-box {
    padding: 0px 30px;
    padding-top: 24px;
    padding-bottom: 48px;
  }
}
@media (max-width: 800px) {
  .main-content-box {
    padding: 16px;
    padding-top: 24px;
    padding-bottom: 48px;
  }
}

.base-margin {
  margin: 0px 120px !important;
}
@media (max-width: 1350px) {
  .base-margin {
    margin: 0px 60px !important;
  }
}
@media (max-width: 1040px) {
  .base-margin {
    margin: 0px 30px !important;
  }
}
@media (max-width: 800px) {
  .base-margin {
    margin: 16px !important;
  }
}

.base-padding {
  padding: 80px 120px;
}
@media (max-width: 1350px) {
  .base-padding {
    padding: 80px 60px;
  }
}
@media (max-width: 1040px) {
  .base-padding {
    padding: 48px 30px;
  }
}
@media (max-width: 800px) {
  .base-padding {
    padding: 48px 16px;
  }
}

.with-chat {
  position: relative;
}
.with-chat .chat {
  z-index: 666;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50vh;
}

.header-logo-title {
  display: flex;
  flex-direction: column;
}
.header-logo-title p {
  font-family: "Montserrat";
  font-size: 35.041px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5.957px;
  text-transform: uppercase;
  background: linear-gradient(93deg, #000 39.62%, #0b449d 90.15%, #0b449d 90.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-logo-title svg {
  align-self: flex-end;
  margin-top: -5px;
  margin-right: 5px;
}

.main-nav {
  width: 100%;
}
.main-nav .container a,
.main-nav .container span {
  text-decoration: none;
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 500px) {
  .main-nav .container a,
  .main-nav .container span {
    font-size: 12px;
  }
}
.main-nav .container span {
  color: var(--Accesible-text-Additional-62636C, #62636c);
}

.title-wrap {
  margin-top: 56px;
  margin-bottom: 40px;
}
@media (max-width: 1040px) {
  .title-wrap {
    margin-top: 24px;
  }
}
@media (max-width: 800px) {
  .title-wrap {
    margin: 24px;
  }
}
.title-wrap .container .title {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1100px) {
  .title-wrap .container .title {
    font-size: 36px;
  }
}
@media (max-width: 850px) {
  .title-wrap .container .title {
    font-size: 32px;
  }
}

h3 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 850px) {
  h3 {
    font-size: 20px;
  }
}

h6 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  text-align: center;
  font-family: "Google Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label,
h5,
.hint {
  color: var(--Accesible-text-Additional-62636C, #62636c);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hint.active {
  color: var(--Action-Brand-Dark-Blue-0B449D, #0b449d);
  font-size: 12px;
}

.selected,
.base-text {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new-post {
  color: #242422;
}

button,
.accessibly {
  cursor: pointer;
  border: none;
  border-radius: 26.5px;
  background: linear-gradient(0deg, #1a64db 0%, #1a64db 100%), linear-gradient(0deg, #0b449d 0%, #0b449d 100%), linear-gradient(93deg, #000 39.62%, #0b449d 90.15%, #0b449d 90.15%);
  box-shadow: 0px 6px 8px 0px rgba(255, 255, 255, 0.25) inset;
  height: 54px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 20px 24px;
}
@media (max-width: 1100px) {
  button,
  .accessibly {
    padding: 20px 34px;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 14px;
  }
}

.accessibly {
  background: none;
  color: var(--Action-Brand-Dark-Blue-0B449D, #0b449d);
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.tips {
  max-width: 409px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  display: none;
  padding: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .tips {
    width: 309px;
  }
}
@media (max-width: 1100px) {
  .tips {
    width: 209px;
    padding: 14px;
  }
}
@media (max-width: 850px) {
  .tips {
    max-width: 100%;
    padding: 24px;
    box-shadow: 0px -6px 8px 0px rgba(22, 22, 22, 0.25) inset;
  }
}
.tips.czech-republic-ukraine.active, .tips.ukraine-czech-republic.active {
  display: inline-flex;
}
@media (max-width: 850px) {
  .tips.czech-republic-ukraine.active, .tips.ukraine-czech-republic.active {
    display: none;
  }
}
.tips .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
@media (max-width: 1100px) {
  .tips .content {
    gap: 16px;
  }
}
.tips .content .content-text ul {
  list-style: disc;
  margin-left: 20px;
}
.tips .content .content-text ul li {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 5px;
}
.tips .content .content-text p,
.tips .content .content-text h4 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #cdced7;
  min-height: 48px;
  padding: 12px 16px;
  gap: 8px;
  overflow: hidden;
}
.search input {
  outline: 0;
  border: none;
  width: 100%;
  caret-color: #1a64db;
}

.check-box {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #62636c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.check-box.active {
  border: 2px solid #0b449d;
}

.check-box.active::after {
  content: "";
  position: absolute;
  background-color: #0b449d;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.czech-republic-ukraine-box,
.ukraine-czech-republic-box,
.popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(242, 242, 245, 0.5);
}
.czech-republic-ukraine-box.active,
.ukraine-czech-republic-box.active,
.popup-overlay.active {
  display: flex;
}
.czech-republic-ukraine-box .container,
.czech-republic-ukraine-box .popup,
.ukraine-czech-republic-box .container,
.ukraine-czech-republic-box .popup,
.popup-overlay .container,
.popup-overlay .popup {
  padding: 0px 32px;
  max-width: 648px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 130;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(36, 36, 34, 0.25);
}
@media (max-width: 850px) {
  .czech-republic-ukraine-box .container,
  .czech-republic-ukraine-box .popup,
  .ukraine-czech-republic-box .container,
  .ukraine-czech-republic-box .popup,
  .popup-overlay .container,
  .popup-overlay .popup {
    max-width: 400px;
  }
}
.czech-republic-ukraine-box .container .close,
.czech-republic-ukraine-box .popup .close,
.ukraine-czech-republic-box .container .close,
.ukraine-czech-republic-box .popup .close,
.popup-overlay .container .close,
.popup-overlay .popup .close {
  width: 100%;
  padding: 24px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.czech-republic-ukraine-box .container .close svg,
.czech-republic-ukraine-box .popup .close svg,
.ukraine-czech-republic-box .container .close svg,
.ukraine-czech-republic-box .popup .close svg,
.popup-overlay .container .close svg,
.popup-overlay .popup .close svg {
  cursor: pointer;
}
.czech-republic-ukraine-box .container .price,
.czech-republic-ukraine-box .popup .price,
.ukraine-czech-republic-box .container .price,
.ukraine-czech-republic-box .popup .price,
.popup-overlay .container .price,
.popup-overlay .popup .price {
  margin-top: 24px;
  margin-bottom: 8px;
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.czech-republic-ukraine-box .container .approximate-delivery-time,
.czech-republic-ukraine-box .container .trade,
.czech-republic-ukraine-box .popup .approximate-delivery-time,
.czech-republic-ukraine-box .popup .trade,
.ukraine-czech-republic-box .container .approximate-delivery-time,
.ukraine-czech-republic-box .container .trade,
.ukraine-czech-republic-box .popup .approximate-delivery-time,
.ukraine-czech-republic-box .popup .trade,
.popup-overlay .container .approximate-delivery-time,
.popup-overlay .container .trade,
.popup-overlay .popup .approximate-delivery-time,
.popup-overlay .popup .trade {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  text-align: center;
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
.czech-republic-ukraine-box .container .help-info,
.czech-republic-ukraine-box .popup .help-info,
.ukraine-czech-republic-box .container .help-info,
.ukraine-czech-republic-box .popup .help-info,
.popup-overlay .container .help-info,
.popup-overlay .popup .help-info {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  text-align: center;
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 26px;
}
.czech-republic-ukraine-box .container .info,
.czech-republic-ukraine-box .popup .info,
.ukraine-czech-republic-box .container .info,
.ukraine-czech-republic-box .popup .info,
.popup-overlay .container .info,
.popup-overlay .popup .info {
  max-width: 584px;
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  text-align: center;
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.czech-republic-ukraine-box .container .text,
.czech-republic-ukraine-box .container .tel,
.czech-republic-ukraine-box .popup .text,
.czech-republic-ukraine-box .popup .tel,
.ukraine-czech-republic-box .container .text,
.ukraine-czech-republic-box .container .tel,
.ukraine-czech-republic-box .popup .text,
.ukraine-czech-republic-box .popup .tel,
.popup-overlay .container .text,
.popup-overlay .container .tel,
.popup-overlay .popup .text,
.popup-overlay .popup .tel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}
.czech-republic-ukraine-box .container .text input,
.czech-republic-ukraine-box .container .tel input,
.czech-republic-ukraine-box .popup .text input,
.czech-republic-ukraine-box .popup .tel input,
.ukraine-czech-republic-box .container .text input,
.ukraine-czech-republic-box .container .tel input,
.ukraine-czech-republic-box .popup .text input,
.ukraine-czech-republic-box .popup .tel input,
.popup-overlay .container .text input,
.popup-overlay .container .tel input,
.popup-overlay .popup .text input,
.popup-overlay .popup .tel input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #cdced7;
  padding: 14px 16px;
  color: var(--Accesible-text-Additional-62636C, #62636c);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.czech-republic-ukraine-box .container .communication-method,
.czech-republic-ukraine-box .popup .communication-method,
.ukraine-czech-republic-box .container .communication-method,
.ukraine-czech-republic-box .popup .communication-method,
.popup-overlay .container .communication-method,
.popup-overlay .popup .communication-method {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 16px;
  margin-bottom: 34px;
}
.czech-republic-ukraine-box .container .communication-method p,
.czech-republic-ukraine-box .popup .communication-method p,
.ukraine-czech-republic-box .container .communication-method p,
.ukraine-czech-republic-box .popup .communication-method p,
.popup-overlay .container .communication-method p,
.popup-overlay .popup .communication-method p {
  color: var(--Accesible-text-Additional-62636C, #62636c);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list,
.ukraine-czech-republic-box .container .communication-method .communication-method-list,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list,
.popup-overlay .container .communication-method .communication-method-list,
.popup-overlay .popup .communication-method .communication-method-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method,
.popup-overlay .container .communication-method .communication-method-list .method,
.popup-overlay .popup .communication-method .communication-method-list .method {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 24px;
  background: var(--Shades-White, #fff);
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px -2px rgba(16, 24, 40, 0.03), 0px 6px 8px -4px rgba(16, 24, 40, 0.08);
  position: relative;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method .check,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method .check,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method .check,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method .check,
.popup-overlay .container .communication-method .communication-method-list .method .check,
.popup-overlay .popup .communication-method .communication-method-list .method .check {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgb(11, 68, 157);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method .check .img,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method .check .img,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method .check .img,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method .check .img,
.popup-overlay .container .communication-method .communication-method-list .method .check .img,
.popup-overlay .popup .communication-method .communication-method-list .method .check .img {
  width: 20px;
  height: 20px;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method input,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method input,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method input,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method input,
.popup-overlay .container .communication-method .communication-method-list .method input,
.popup-overlay .popup .communication-method .communication-method-list .method input {
  position: absolute;
  right: 12px;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method .no-check,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method .no-check,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method .no-check,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method .no-check,
.popup-overlay .container .communication-method .communication-method-list .method .no-check,
.popup-overlay .popup .communication-method .communication-method-list .method .no-check {
  display: block;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method.active .no-check,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method.active .no-check,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method.active .no-check,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method.active .no-check,
.popup-overlay .container .communication-method .communication-method-list .method.active .no-check,
.popup-overlay .popup .communication-method .communication-method-list .method.active .no-check {
  display: none;
}
.czech-republic-ukraine-box .container .communication-method .communication-method-list .method.active .check,
.czech-republic-ukraine-box .popup .communication-method .communication-method-list .method.active .check,
.ukraine-czech-republic-box .container .communication-method .communication-method-list .method.active .check,
.ukraine-czech-republic-box .popup .communication-method .communication-method-list .method.active .check,
.popup-overlay .container .communication-method .communication-method-list .method.active .check,
.popup-overlay .popup .communication-method .communication-method-list .method.active .check {
  display: flex;
}
.czech-republic-ukraine-box .container button,
.czech-republic-ukraine-box .popup button,
.ukraine-czech-republic-box .container button,
.ukraine-czech-republic-box .popup button,
.popup-overlay .container button,
.popup-overlay .popup button {
  max-width: 355px;
  width: 100%;
  margin-bottom: 49px;
}