*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

//defolt style

body {
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 8px;
    height: 25.744px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cdced7;
    border-radius: 4px;
    border: 1px solid #cdced7;
  }
}

// main {
//   padding-top: 24px !important;
//   padding-bottom: 80px !important;
//   position: relative;
//   .chat {
//     z-index: 999;
//     cursor: pointer;
//     position: fixed;
//     right: 20px;
//     top: calc(100vh / 2);
//   }
// }

.main-content-box {
  margin-top: 75px;
  padding: 0px 120px;
  padding-top: 24px;
  padding-bottom: 80px;
  @media (max-width: 1350px) {
    padding: 0px 60px;
    padding-top: 24px;
    padding-bottom: 80px;
  }
  @media (max-width: 1040px) {
    padding: 0px 30px;
    padding-top: 24px;
    padding-bottom: 48px;
  }
  @media (max-width: 800px) {
    padding: 16px;
    padding-top: 24px;
    padding-bottom: 48px;
  }
}

.base-margin {
  margin: 0px 120px !important;
  @media (max-width: 1350px) {
    margin: 0px 60px !important;
  }
  @media (max-width: 1040px) {
    margin: 0px 30px !important;
  }
  @media (max-width: 800px) {
    margin: 16px !important;
  }
}

.base-padding {
  padding: 80px 120px;
  @media (max-width: 1350px) {
    padding: 80px 60px;
  }
  @media (max-width: 1040px) {
    padding: 48px 30px;
  }
  @media (max-width: 800px) {
    padding: 48px 16px;
  }
}

.with-chat {
  position: relative;
  .chat {
    z-index: 666;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: calc(100vh / 2);
  }
}

.header-logo-title {
  display: flex;
  flex-direction: column;
  p {
    font-family: "Montserrat";
    font-size: 35.041px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 5.957px;
    text-transform: uppercase;
    background: linear-gradient(
      93deg,
      #000 39.62%,
      #0b449d 90.15%,
      #0b449d 90.15%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  svg {
    align-self: flex-end;
    margin-top: -5px;
    margin-right: 5px;
  }
}

.main-nav {
  width: 100%;
  .container {
    a,
    span {
      text-decoration: none;
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
    span {
      color: var(--Accesible-text-Additional-62636C, #62636c);
    }
  }
}

.title-wrap {
  margin-top: 56px;
  margin-bottom: 40px;
  @media (max-width: 1040px) {
    margin-top: 24px;
  }
  @media (max-width: 800px) {
    margin: 24px;
  }
  .container {
    .title {
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      font-family: "Google Sans";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 1100px) {
        font-size: 36px;
      }
      @media (max-width: 850px) {
        font-size: 32px;
      }
    }
  }
}

h3 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media (max-width: 850px) {
    font-size: 20px;
  }
}
h6 {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  text-align: center;
  font-family: "Google Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
label,
h5,
.hint {
  color: var(--Accesible-text-Additional-62636C, #62636c);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hint {
  &.active {
    color: var(--Action-Brand-Dark-Blue-0B449D, #0b449d);
    font-size: 12px;
  }
}
.selected,
.base-text {
  color: var(--Accesible-text-Main-1E1F24, #1e1f24);
  font-family: "Google Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-post {
  color: #242422;
}
button,
.accessibly {
  cursor: pointer;
  border: none;
  border-radius: 26.5px;
  background: linear-gradient(0deg, #1a64db 0%, #1a64db 100%),
    linear-gradient(0deg, #0b449d 0%, #0b449d 100%),
    linear-gradient(93deg, #000 39.62%, #0b449d 90.15%, #0b449d 90.15%);
  box-shadow: 0px 6px 8px 0px rgba(255, 255, 255, 0.25) inset;
  height: 54px;
  color: #fff;
  text-align: center;
  // font-family: Ermilov;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 20px 24px;
  @media (max-width: 1100px) {
    padding: 20px 34px;
    height: fit-content;
    font-size: 14px;
  }
}
.accessibly {
  background: none;
  color: var(--Action-Brand-Dark-Blue-0B449D, #0b449d);
  padding: 0;
  height: fit-content;
}

.tips {
  max-width: 409px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  display: none;
  padding: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;
  flex-wrap: wrap;
  @media (max-width: 1300px) {
    width: 309px;
  }
  @media (max-width: 1100px) {
    width: 209px;
    padding: 14px;
  }
  @media (max-width: 850px) {
    max-width: 100%;
    padding: 24px;
    box-shadow: 0px -6px 8px 0px rgba(22, 22, 22, 0.25) inset;
  }
  &.czech-republic-ukraine.active,
  &.ukraine-czech-republic.active {
    display: inline-flex;
    @media (max-width: 850px) {
      display: none;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @media (max-width: 1100px) {
      gap: 16px;
    }
    .content-text {
      ul {
        list-style: disc;
        margin-left: 20px;
        li {
          color: var(--Accesible-text-Main-1E1F24, #1e1f24);
          font-family: "Google Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          margin-bottom: 5px;
        }
      }
      p,
      h4 {
        color: var(--Accesible-text-Main-1E1F24, #1e1f24);
        font-family: "Google Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }
}

.search {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #cdced7;
  min-height: 48px;
  padding: 12px 16px;
  gap: 8px;
  overflow: hidden;
  input {
    outline: 0;
    border: none;
    width: 100%;
    caret-color: #1a64db;
  }
}

.check-box {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #62636c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.check-box.active {
  border: 2px solid #0b449d;
}
.check-box.active::after {
  content: "";
  position: absolute;
  background-color: #0b449d;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.czech-republic-ukraine-box,
.ukraine-czech-republic-box,
.popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(242, 242, 245, 0.5);
  &.active {
    display: flex;
  }
  .container,
  .popup {
    padding: 0px 32px;
    max-width: 648px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 130;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(36, 36, 34, 0.25);
    @media (max-width: 850px) {
      max-width: 400px;
    }
    .close {
      width: 100%;
      padding: 24px;
      padding-bottom: 0;
      display: flex;
      justify-content: flex-end;
      svg {
        cursor: pointer;
      }
    }
    .price {
      margin-top: 24px;
      margin-bottom: 8px;
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      font-family: "Google Sans";
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .approximate-delivery-time,
    .trade {
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      text-align: center;
      font-family: "Google Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 40px;
    }
    .help-info {
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      text-align: center;
      font-family: "Google Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 26px;
    }
    .info {
      max-width: 584px;
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      text-align: center;
      font-family: "Google Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 24px;
    }
    .text,
    .tel {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 16px;
      input {
        width: 100%;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #cdced7;
        padding: 14px 16px;
        color: var(--Accesible-text-Additional-62636C, #62636c);
        font-family: "Google Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .communication-method {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 16px;
      margin-bottom: 34px;
      p {
        color: var(--Accesible-text-Additional-62636C, #62636c);
        font-family: "Google Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .communication-method-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .method {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 12px;
          border-radius: 24px;
          background: var(--Shades-White, #fff);
          box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.05),
            0px 2px 4px -2px rgba(16, 24, 40, 0.03),
            0px 6px 8px -4px rgba(16, 24, 40, 0.08);
          position: relative;
          .check {
            display: none;
            align-items: center;
            justify-content: center;
            background-color: rgba(11, 68, 157, 1);
            width: 24px;
            height: 24px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            .img {
              width: 20px;
              height: 20px;
            }
          }
          input {
            position: absolute;
            right: 12px;
          }
          .no-check {
            display: block;
          }
          &.active {
            .no-check {
              display: none;
            }
            .check {
              display: flex;
            }
          }
        }
      }
    }
    button {
      max-width: 355px;
      width: 100%;
      margin-bottom: 49px;
    }
  }
}
