.section-location {
  border-radius: 8px;
  background: #fff;
  padding: 32px 40px;
  max-width: 720px;
  margin-bottom: 19px;
  @media (max-width: 550px) {
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .location {
      color: var(--Accesible-text-Main-1E1F24, #1e1f24);
      font-family: "Google Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .track-number {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 8px;
      .number {
        color: var(--Accesible-text-Main-1E1F24, #1e1f24);
        font-family: "Google Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
