header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--Background-White-FFFFFF, #fff);
  .container {
    width: 100%;
    height: 75px;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    .header-body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-burger {
        z-index: 999;
        display: none;
        position: relative;
        width: 25px;
        height: 32px;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #242422;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
        }
        .span1 {
          top: 10px;
        }
        .span2 {
          top: 20px;
        }
        &::after,
        &::before {
          content: "";
          background-color: #242422;
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        &.active {
          &::before {
            top: 15px;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 15px;
            transform: rotate(-45deg);
          }

          span {
            display: none;
          }
        }
      }
      a {
        z-index: 999;
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 18px;
        .header-logo-title {
          display: flex;
          flex-direction: column;
          p {
            font-family: "Montserrat";
            font-size: 35.041px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: 5.957px;
            text-transform: uppercase;
            background: linear-gradient(
              93deg,
              #000 39.62%,
              #0b449d 90.15%,
              #0b449d 90.15%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          svg {
            align-self: flex-end;
            margin-top: -5px;
            margin-right: 5px;
          }
        }
      }
      .header-menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        .header-list {
          display: flex;
          flex-direction: row;
          gap: 32px;
          margin-right: 24px;
          li {
            padding: 0;
            &:hover {
              background: none;
            }
            a {
              text-decoration: none;
              color: var(--Accesible-text-Main-1E1F24, #1e1f24);
              // font-family: "Ermilov";
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
              text-transform: uppercase;

              &:hover {
                background: linear-gradient(93deg, #000 39.62%, #0b449d 90.15%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
        .custom-select {
          padding: 0px 24px;
          border-left: 1px solid #cdced7;
          position: relative;
          display: flex;
          align-items: center;
          gap: 4px;
          .selected {
            color: var(--Accesible-text-Main-1E1F24, #1e1f24);
            // font-family: "Ermilov";
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            cursor: pointer;
          }
          .selected-list {
            position: absolute;
            flex-direction: column;
            gap: 10px;
            display: none;
            left: 0px;
            top: 25px;
            padding: 0px 24px;
            padding-bottom: 10px;
            background: linear-gradient(0deg, #fff 0%, #fff 100%), #f3c914;
            p {
              color: var(--Accesible-text-Main-1E1F24, #1e1f24);
              // font-family: "Ermilov";
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
              text-transform: uppercase;
              cursor: pointer;
            }
          }
          .selected-list.active {
            display: flex;
          }
          svg {
            cursor: pointer;
            transition: transform 0.5s ease;
            transform: rotate(0deg);
          }
          svg.active {
            transform: rotate(180deg);
          }
        }
        .select-for-mobile {
          overflow: hidden;
          display: none;
          border-radius: 12px;
          background: var(--Color-Color-background-page-white, #fff);
          position: fixed;
          bottom: 32px;
          left: 50%;
          transform: translateX(-50%);
          ul {
            display: flex;
            align-items: center;
            li {
              white-space: nowrap;
              cursor: pointer;
              padding: 13px 24px;
              color: var(--Color-Color-text-aditional, #62636c);
              text-align: center;
              // font-family: Ermilov;
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.3px;
              text-transform: uppercase;
              &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #fff;
                margin-right: 8px;
              }
            }
            .selected {
              background: var(
                --Gradient-Brand,
                linear-gradient(
                  93deg,
                  #000 39.62%,
                  #0b449d 90.15%,
                  #0b449d 90.15%
                )
              );
              color: var(--Color-Color-background-page-white, #fff);
            }
            div {
              width: 1px;
              height: 24px;
              background: #cdced7;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  header {
    .container {
      padding: 0px 60px;
    }
  }
}

@media (max-width: 1100px) {
  header {
    .container {
      .header-body {
        .header-burger {
          display: block;
        }
        .header-menu {
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: fixed;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: var(--Brand-Yellow-F3C914, #f3c914);
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -ms-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          &.active {
            top: 0;
          }
          .header-list {
            width: 100%;
            flex-direction: column;
            gap: 0px;
            margin: 0;
            li {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              width: 100%;
              padding: 20px 0px;
              &:hover {
                background: var(
                  --Gradient-Brand,
                  linear-gradient(
                    93deg,
                    #000 39.62%,
                    #0b449d 90.15%,
                    #0b449d 90.15%
                  )
                );
                color: #fff;
                &::before {
                  content: "";
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background-color: #fff;
                  margin-right: 16px;
                }
              }
              a {
                color: inherit;
                text-decoration: none;
                font-family: "Open Sans";
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.3px;
                text-transform: uppercase;

                &:hover {
                  background: #fff;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
            }
          }
          .custom-select {
            display: none;
          }
          .select-for-mobile {
            &.active {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  header {
    .container {
      padding: 0px 16px;
      .header-body {
        .header-menu {
          .select-for-mobile {
            ul {
              li {
                padding: 13px 14px;
              }
            }
          }
        }
      }
    }
  }
}
